.layout {
  /* Specify the URL of the background image */
  background-image: url("./images/layout.jpg");
  /* Set background size to cover the entire container */
  background-size: cover;
  /* Center the background image */
  background-position: center;
  /* Optional: Add other background properties such as color */
  background-color: #f0f0f0; /* Fallback color in case the image is not available */
  height: 100vh;
  overflow: hidden;
}

.float {
  position: absolute !important;
  left: 0;
  top: 0;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
